/* CSS Document */

:root {
  --blue: #b5e0e6; /* Back */
  --firsttext: #f0442e; /* Text */
  --background: #ffeabb; /* Back */
  --nav: #faab82; /* Back */
  --seccondtext: #086788;/* #0953A8; /*#052F5F; /* Text */
  --navtxt: #157145;/* #1F83FF; /* Text */
  --white: #f2f2f2;
  --black: #141115;
}

.cartbody{
	padding: 30px;
	padding-top: 20px;
	text-align: center;
	background: var(--background);
	color: var(--firsttext);/*#f0442e;/*#a9ca57;*/
	border-radius: 15px;
	justify-content: center;
}

.Container{
	width: 70%;
	height: 90%;
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
}

.cart {
	float: left;
	padding: 50px;
	background-color: var(--background);
	width: 100%;
	border-bottom-color: var(--black);
	font-style: bold;
}

.imagetxt {
	vertical-align:top;
}

.plus {
	font-style: bold;
}

.minus {
	font-style: bold;
}

.cart th {
	font-size: 25px;
	padding: 25px;
	color: var(--firsttext);
}

.cart tr {
	color: var(--seccondtext);
}

.cart td {
	padding-left: 50px; padding-right: 50px;
	font-size: 25px;
	/*padding-right: 200px;*/
}

.total {
	padding-left: 50px;
}

button {
  float: right;
  background-color: var(--seccondtext);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--blue);
  color: var(--navtxt);
}

