		
/* Colours: Blue : #b5e0e6 : Red : #f0442e : Background:#ffeabb : Skin:#faab82 : Green:#a9ca57 : Yellow:#fec81d : White:#f2f2f2 : #b9ceff */

/*:root {
  --blue: #b5e0e6;
  --gradient: #b0e0e0;
  --firsttext: #f0442e; 
  --background: #ffeabb;
  --nav: #faab82;
  --seccondtext: #a9ca57;
  --yellow: #fec81d;
  --white: #f2f2f2;
  --black: #0F0F0F;
}*/
:root {
  --blue: #b5e0e6; /* Back */
  --firsttext: #f0442e; /* Text */
  --background: #ffeabb; /* Back */
  --nav: #faab82; /* Back */
  --seccondtext: #086788;/* #0953A8; /*#052F5F; /* Text */
  --navtxt: #157145;/* #1F83FF; /* Text */
  --white: #f2f2f2;
  --black: #141115;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS";
  padding: 25px;
  background: linear-gradient(to bottom, var(--blue), #b0e0e0);
}

/* Snavigation bar */
.topnav {
  background-color: var(--nav);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--background);
  color: var(--navtxt);
}

.topnav a.active {
  background-color: var(--background);
  color: var(--seccondtext);
}

a {
	text-decoration: none;
	color: var(--seccondtext);
}



/* Header */
.header {
  padding: 30px;
  padding-top: 20px;
  text-align: center;
  background: var(--background);
  color: var(--firsttext);/*#f0442e;/*#a9ca57;*/
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header h1 {
  font-size: 62px;
}

/*text box*/

.txtbox {
	padding: 2%;
	padding-top: 0.5%;
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 15px;
	background: var(--background);
	width: 87%;
	margin-top: 0%;
	margin-bottom: 25px;
	color: var(--seccondtext);
	margin: 6%;
	margin-left: 6.5%; 
	margin-right: 6.5%;
}

.txtbox h2 {
	text-align: center;
	font-size: 34px;
	color:var(--firsttext);
}

.txtbox h3 {
	text-align: left;
	font-size: 26px;
	color:var(--firsttext);
	padding: 10px;
	padding-bottom: 0px;
}

.txtbox h4 {
	font-size: 21px;
	color:var(--firsttext);
	padding: 5px;
	padding-top: 0px;
}

.txtbox p {
	font-size: 18px;
}

.txtbox img {
	border-radius: 15px;
	width: 100px;
	height: 100px;
}

.txtbox div {
	padding: 35px;
	text-align: center;
	border-radius: 10px;
	float: left;
	width: 300px;
	/*border-width:2px;
	border-style:solid;
	border-color:black;*/
}

/*review*/
.reviews {
	Overflow-y:scroll;
	height: 360px;
	width: 33.9%;
	text-align: center;
	float:right;
/*	border-style: solid;*/
/*	border-color: var(--nav);*/
}

.review {
	padding: 10px;
	padding-top: 0px;
	border-radius: 15px;
	background: var(--background);
	color: var(--seccondtext);
	float:right;
	font-size: 18px;
	border-style: solid;
	border-color: var(--nav);
	margin:1%;
	width:164.05px;
	font-family: "Times New Roman";
}

.review h3 {
	text-align: center;
	font-size: 26px;
	color:var(--firsttext);
}

.review div {
	border-radius: 15px;
	background: var(--nav);
	float:right;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	color:gold;
}

/* Linking squares

.card {
	float: left;
	width: 315px;
	padding: 3%;
	background: #ffeabb;
	text-align: center;
	color: #a9ca57;
	margin: 6%;
	margin-left: 6.5%; 
	margin-right: 6.5%;
	border-radius: 15px;
} */

.card {
	float: left;
	width: 315px;
	padding: 50px;
	background: var(--background);
	text-align: center;
	color: var(--seccondtext);
	border-radius: 15px;
}
.card img {
	border-radius: 15px;
}

.card h3 {
	color: var(--firsttext);
}

/* Product */

.product {
	padding: 30px;
	padding-top: 20px;
	background: var(--background);
	color: var(--firsttext);/*#f0442e;/*#a9ca57;*/
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	cursor: default;
}

.product img {
	float:left;
	width: 500px;
	height: 500px;
	margin-right: 50px;
	margin-left: 10px;
	animation: fade 3s;
}
.product video {
	float:left;
	width: 500px;
	height: 500px;
	margin-right: 50px;
	margin-left: 10px;
	border-radius: 15px;
	animation: fade 3s;
}

/* Footer */

.footer {
	padding: 15px;
	padding-bottom: 10px;
	background-color: var(--background);  
	color: var(--firsttext);  
	text-align: center; 
	position: relative;
  	animation: move 5s infinite;
}

@keyframes move {
  0% {transform: translateY(35px);}
  25% {transform: translateY(35px);}
  50% {transform: translateY(-5px);}
  75% {transform: translateY(35px);}
  100% {transform: translateY(35px);}
}

.footer h2 {
	color: var(--firsttext);
}

/* Contact form */

.container {
  background-color: var(--background);
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: var(--firsttext);
}

/* sidebar */
.sidebar {
	float: left;
	width: 75px;
}

.sidebar img {
	width: 75px;
	height: 75px;
	margin-left: 0px;
}

.sidebar video {
	width: 75px;
	height: 75px;
	border-radius: 5px;
	margin-left: 0px;
}
